/* GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: clamp(14px, 2vw, 18px);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  text-align: center;
}

/* background video */
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100


.wishlist a:hover {
  text-decoration: underline;
}
